################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hw17/obj
/Hw17/bin/Debug/net9.0
/.vs
